.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homecontainer{
  background-image: url("../src/images/hero_1.jpg");
  height: 100vh;
  background-size: cover;
}
.nav_content {
  list-style: none;
  padding: 15px;
  display: flex;

}
.nav_container {
  position: sticky;
  top: 0;
  gap: 50px;
}
.li,
.a {
  padding: 10px 15px;
  color: black;
  opacity: 0.8;

  font-size: 16px;

  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  /* margin-left: 10px; */
  /* display: inline-block; */

}
.nav_logo{

  margin-right: 50px;
}
.signin{
  margin-left: 500px;
}
.b{

  color: black;
}
.home_header{
  text-align: center;
  margin: 150px 200px;
  padding: 0px 220px;


}
.homepara1{
  font-size: 60px;
  font-weight: 900;
  color: black;
  opacity: 0.7;
  line-height: 1;
}
.para2{
  color: #0f0f0f;
  font-size: 20px;
}
.register{
  border: none;
  color: #fff;
  background-color: #f37121;
  border-color: #f37121;
  border-radius: 0;
  padding: 14px 20px;
}
.register:hover{
  background-color: #f34121;
}
.auction-product{
  padding: 90px;
}
.auction h5{
  color: #f37121;
  line-height: 1;
}
.auction h2 span{
  font-weight: 500;
}
.row{
  margin-top: 30px;
}
.price{
  position: absolute;
  display: inline-block;
  width: 105px;
  height: 105px;
  line-height: 105px;
  border-radius: 50%;
  background-color: #f37121;
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.product{
  max-width: 90% !important;
  height: auto;
  margin: 0px 20px 30px;

}
.product-content{
border: none;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.card-title{
  text-align: left;
  font-size: 28px;
}
.card-body{
  margin: 0px 30px;
}
.card-body .name span{
  line-height: 1.7;
  color: #999999;
  font-weight: 300;
  font-size: 20px;
}
.name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-bid{
  padding: 7px 42px;
  text-transform: none;
  border-radius: 0;
  background: #f8f9fa;
  color: #000;
  font-size: 18px;
  margin: 10px 0px;
  display: flex;
}
.how{
  padding: 0px 90px;
}
.content{
  margin: 110px 0px;
}
.card-body .how-work span{
  text-align: left;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 10px;
}
.head-how{
  text-align: left;
}
.about{
  display: flex;
  margin-top: 150px;
}
.about_img{
padding-right: 120px;
}
.about_img1{
  width: 80%;
  height: 95%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
